<form class="formProduct">
    <h3>Realtime Products</h3>
        <input class="form-control" id="floatingInput" type="text" name="title" id="title" placeholder="Ingrese nombre"required>
        <input class="form-control" type="text" name="description" id="description" placeholder="Descripcion del producto" required>
        <input class="form-control" type="number" name="stock" id="stock" placeholder="Stock disponible" required>
        <input class="form-control" type="text" name="thumbnail" id="thumbnail" placeholder="Imagen del producto" required>
        <input class="form-control" type="text" name="category" id="category" placeholder="Categoria" required>
        <input class="form-control" type="number" name="price" id="price" placeholder="Precio" required>
        <input class="form-control" type="text" name="code" id="code" placeholder="Codigo" required>
        <button class="btn btn-danger" type="submit" id="producto-registrar">Registrar nuevo Producto</button>
    <h3>Para eliminar el producto:</h3>
        <input class="form-control" type="number" name="producto-id" id="producto-id" placeholder="Ingrese el ID del producto">
    <button class="btn btn-danger" type="button" id="boton-eliminar">Eliminar</button>
</form>

<div id="listProducts"></div>

<script src="/socket.io/socket.io.js"></script>
<script src="../src/public/js/index.js"></script>